<br><br>

<div class="container text-center">
  <h2> <%=  params[:query] %> </h2>
  <p> You </p>
  <br><br>

  <h2> <%= @answer %> </h2>
  <p> The Coach </p>
  <br><br>

  <%= link_to "Ask new question", ask_path %>

</div>
<!-- better error  -->


